.button{
	display: block;
	margin: 0 auto 20px;
	width: 130px;
	font-size: 17px;
	margin-bottom: 100px;
}
.poison{
	background-color: #1BAF5D;
}
.grass{
	background-color: #02A085;
}
.fire{
	background-color: #FF7561;
}
.water{
	background-color: #2D96DD;
}
.ground{
	background-color: #D55300;
}
.ghost{
	background-color: #3F3953;
}
.rock{
	background-color: #AEABB6;
}
.electric{
	background-color: #344860;
}
.normal{
	background-color: #94A6A7;
}
.ice{
	background-color: #E4EBF3;
}
.steel{
	background-color: #888785;
}
.fighting{
	background-color: #2C3E51;
}
.psychic{
	background-color: #D8B72F;
}
.flying{
	background-color: #9C55B8;
}
.bug{
	background-color: #172432;
}
.fairy{
	background-color: #FF5DCF;
}
.error-message{
	transition: transform .25s ease-out;
	transform: translateY(100%);
	background-color: #F9E224;
	min-width: 300px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	position: fixed;
	bottom: 0;
	right: 0;
	max-width: 500px;
	padding: 10px 15px;
	border-radius: 3px;
}
.error-message.active{
	transform: translateY(0)
}