.button{
	display: block;
	margin: 0 auto 20px;
	width: 130px;
	font-size: 17px;
	margin-bottom: 100px;
}
.poison{
	background-color: #1BCF31;
}
.grass{
	background-color: #3E7614;
	color: #fff;
}
.fire{
	background-color: #D73D3B;
	color: #fff;
}
.water{
	background-color: #84C1D4;
}
.ground{
	background-color: #916950;
	color: #fff;
}
.ghost{
	background-color: #3F3953;
	color: #fff;
}
.rock{
	background-color: #AEABB6;
}
.electric{
	background-color: #D0DEFB;
}
.normal{
	background-color: lighten(grey, 15);
}
.ice{
	background-color: #E4EBF3;
}
.steel{
	background-color: #888785;
	color: #fff;
}
.fighting{
	background-color: #010101;
	color: #fff;
}
.psychic{
	background-color: #D8B72F;
}
.flying{
	background-color: #8A5EFB;
}
.bug{
	background-color: #2A2D34;
	color: #fff;
}
.fairy{
	background-color: #FDE2F5;
}