// delete these lines
// .col-sm-3,
// .search-wrap,
// .loader{
// 	border: 1px solid grey;
// 	background: none!important;
// }
// .elem,
// .form-search,
// .loader__media,
// .header__title,
// .header__link{
// 	opacity: 0;
// }
// .desired{
// 	border: 3px solid grey;
// }


.elem{
	background-color: #fff;
	border-radius: 3px;
	color: #313131;
	margin-bottom: 20px;
	padding: 14px 27px 30px;
	box-shadow: 0 0 19px -1px rgba(0,0,0,0.1);
	&__icon-wrap{
		background-color: #ECECEC;
		border-radius: 3px;
		color: #E94B35;
		height: 36px;
		width: 36px;
		text-align: center;
		font-size: 18px;
		line-height: 36px;
		position: absolute;
		top: 13px;
		right: 28px;
	}
	&__icon-wrap:after{
		font-size: 18px;
		content: "\e900";
	}
	&__icon-wrap:hover,
	&__icon-wrap.active
	{
		&:after{
			content: "\e901";
		}
	}
	&__icon{
		line-height: 36px;
	}
	&__media-wrap{
		line-height: 200px;
		height: 200px;
		text-align: center;
		background-color: #fff;
		margin-bottom: 10px;
	}
	&__media{
		padding: 5px;
		max-width: 100%;
		max-height: 100%;
	}
	&__name{
		font-size: 18px;
		color: #787878;
		text-transform: capitalize;
		text-align: center;
		margin-bottom: 18px;
	}
	&__types{
		font-size: 0;
	}
	&__types div{
		text-align: center;
		width: 48%;
		font-size: 18px;
		display: inline-block;
		padding: 5px;
		border-radius: 2px;
		color: #fff;
	}
	&__types div:nth-child(odd){
		margin-right: 4%;
	}
}

.loader{
	opacity: 0;
	margin: auto;
	max-width: 250px;
	transition: all .25s ease-out;
	height: 0;
	overflow: hidden;

	&__media{
		max-width: 100%;
		max-height: 100%;
	}
	&__text{
		text-align: center;
		font-size: 18px;
	}
	&.active{
		opacity: 1;
		height: auto;
		transition: all .25s ease-out;
	}
}